@import 'const.scss';

@keyframes fadeInLeft {
  0% {
    transform: translateX(-20px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeInBottom {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeInTop {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

a {
  text-decoration: underline;
  color: #000;
}

p {
  @include font-Maison-Md();
  font-size: 16px;
  line-height: 24px;
}

b, strong {
  @include font-Maison-Bd()
}

.Home {
  display: flex;
  flex-direction: row;
  margin: 64px;
  justify-content: center;

  @media #{$viewportLarge} {
    flex-direction: column;
    margin: 16px;
    align-items: center;
  }

  &-header {
    margin: 16px;
    max-width: 200px;
    animation: 500ms ease-out 200ms 1 fadeInLeft;
    animation-fill-mode: forwards;
    opacity: 0;

    @media #{$viewportLarge} {
      width: 100%;
      max-width: 680px;
      animation: 500ms ease-out 200ms 1 fadeInTop;
      animation-fill-mode: forwards;
    }
  }

  &-form {
    display: flex;
    flex-direction: column;
    opacity: 0;
    animation: 500ms ease-out 1s 1 fadeInTop;
    animation-fill-mode: forwards;
    @media #{$viewportLarge} {
      animation: 500ms ease-out 1s 1 fadeInLeft;
      animation-fill-mode: forwards;
    }
  }

  &-input {
    font-size: 14px;
    line-height: 20px;
    border: 0;
    border-bottom: 1px solid #ddd;
    outline: 0;
    margin-bottom: 16px;

    &::placeholder {
      color: #333;
      opacity: 0.4;
    }
  }

  &-button {
    border: 2px #000 solid;
    background-color: #FFF;
    width: 100%;
    margin-top: 8px;
    font-size: 14px;
    height: 40px;
    @include font-Maison-Bd();

    &:hover {
      background-color: #000;
      color: #FFF;
    }
    &:disabled {
      background-color: #EEE;
      color: #AAA;
      border: none;
    }
  }

  &-body {
    max-width: 680px;
    margin-left: 64px;
    animation: 500ms ease-out 400ms 1 fadeInBottom;
    animation-fill-mode: forwards;
    opacity: 0;

    @media #{$viewportLarge} {
      margin: 16px;
      animation: 500ms ease-out 200ms 1 fadeInBottom;
      animation-fill-mode: forwards;
    }
  }

  &-image {
    background-image: url('./assets/d@2x.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 14px;
  }

  &-signature {
    background-image: url('./assets/sig.png');
    background-size: cover;
    width: 85px;
    height: 82px;
  }
}
